* {
  color: white;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(235deg, #6b9b7e, rgb(0, 102, 128));
}

header, nav ul, .container {
  display: flex;
}

header {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 59px;
  position: relative;
}

.logo {
  opacity: 1;
  font-weight: bolder;
}

.logo:hover {
  opacity: 0.7;
}

nav, .logo {
  margin: auto;
}

nav ul {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
  font-size: larger;
  transition: all 0.4s;
  opacity: 0.7;
  padding: 20px;
  user-select: auto;
}

a:hover {
  opacity: 1;
}

.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.description img {
  border-radius: 6rem;
  transition: all 0.4s;
}

.description img:hover {
  box-shadow: 0 0 1em lavender;
}

.about {
  margin-left: 4rem;
}

.about p {
  font-size: x-large;
  width: 30vw;
  word-break: keep-all;
}

.projects.container {
  flex-direction: column;
}

.projects.container header {
  flex-direction: column;
}

@media screen and (max-width: 610px) {
  a {
    font-size: large;
  }
}